.about{
    margin-top: 275px;
    margin-bottom: 275px;
    overflow: hidden;
}
.about img{
    float: left;
    margin-right: 40px;
    display: block;
}
.about h2{
    text-align: right;
    margin: 0px;
    font-size: xxx-large;
}
.about h3{
    text-align: right;
    margin: 0px;
    font-size: xx-large;
}
.about p{
    text-align: right;
    margin: 0px;
}